body {
    text-align: center;
}

.field {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    justify-content: center;
    margin-bottom: 26px;
}

.field button {
    height: 40px;
    font-size: 24px;
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: grey;
}


.bombs {
    background-image: url(./bomb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #ffa4a4;
}